{% extends "base.html" %}
{% block content %}
	<!-- Main -->
	<div class="wrapper">
		<div class="container" id="main">
			<div class="row 150%">
				<div class="8u 12u(narrower)">

					<!-- Content -->
						<article id="content">
							<header>
								<h2>Upcoming Events</h2>
								<p>Check out these upcoming events near you!</p>
							</header>

							<div class="eventWrapper">	

								{% for event in events %}
									<div class="eventCard">
										<div class = "eventContainer">
										    <a href="{{ url_for('event_details', event_id=event.rowid) }}">
										    	<b>{{ event.rowid }}. {{ event.name }}</b> ({{ event.datetime }})
										  	</a>
										    <br> hosted by {{ event.org }}
										</div>
									</div>
								{% endfor %}
		
							</div>
						</article>

				</div>
				<div class="4u 12u(narrower)">

					<!-- Sidebar -->
						<section id="sidebar">
							<section>
								<header>
									<h3>Search GT Organizations</h3>
									<img src="images/Search.png" alt="Search bar" style="width:20px; height:20px; margin:2px;">
								</header>
								<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur et vel
								sem sit amet dolor neque semper magna. Lorem ipsum dolor sit amet consectetur et dolore
								adipiscing elit. Curabitur vel sem sit.</p>
								<ul class="actions">
									<li><a href="#" class="button">Magna amet nullam</a></li>
								</ul>
							</section>

						</section>

				</div>
			</div>
		</div>

	</div>
  
{% endblock %}
