<!DOCTYPE HTML>

<html>
	<head>
		<title>Welcome to GT Event Finder! </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="no-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header" class="container">

						<!-- Logo -->
							<h1 id="logo"><a href="index.html">GT Event Finder</a></h1>
						<!-- Navigation Bar -->
							<nav id="nav">
								<ul>
									<li>
										<a href="events">Events</a>
											<ul>
												<li><a href="events">Events Feed</a></li>
												<li><a href="#">Search Events</a></li>
												<li><a href="#">Map View</a></li>
												<li><a href="#">Calendar View</a></li>
												<li><a href="#">Event Reviews</a></li>
											</ul>
										</li>
									<li>
										<a href="orgs.html">Organizations</a>
										<ul>
											<li><a href="#">Search Organizations</a></li>
											<li><a href="#">Map View</a></li>
											<li><a href="#">Calendar View</a></li>
											<li><a href="#">Event Reviews</a></li>
										</ul>
									</li>
									<li class="break">
										<a href="help.html">Help</a>
										<ul>
											<li><a href="faq.html">FAQs</a></li>
											<li><a href="contact.html">Contact Us</a></li>
											<li><a href="#">Feedback</a></li>
										</ul>
									</li>
									<li><a href="about.html">About Us</a></li>
									<!-- Profile and dropdown-->
									<li>
										<a href="#"><img src="images/Guest.png" alt="Profile picture" style="width:20px; height:25px; padding:1px;"> Guest</a>
										<ul>
											<li><a href="#"><img src="images/bell.svg" alt="Notification bell" style="width:20px; height:20px; margin-right:5px"> Notifications</a></li>
											<li><a href="#"><img src="images/Profile.png" alt="Profile settings" style="width:20px; height:20px; margin-right:5px;"> Profile Settings</a></li>
											<li></li>
										</ul>
									</li>
					</div>
				</div>

				<div class="wrapper">
					<div class="container" id="main">

						<!-- Content -->
							<article id="content">
								<header>
									<div align= "center">
										<h2>Account Settings</h2>
									</div>
								</header>
							</article>

							<form>
							    <div class="form-group">
							      <label for="firstname">First Name:</label>
							      <input type="text" class="form-control" id="firstname" placeholder="*Current First Name Here*" name="firstname">
							    </div>
							    <div class="form-group">
							      <label for="lastname">Last Name:</label>
							      <input type="text" class="form-control" id="lastname" placeholder="*Current Last Name Here*" name="lastname">
							    </div>
							    <div class = "form-group">
							    <label for="email">Phone:</label>
							      <input type="email" class="form-control" id="email" placeholder="*Current Email*" name="email">
							    </div>
							    <div class = "form-group">
							    <label for="phone">Phone:</label>
							      <input type="text" class="form-control" id="phone" placeholder="*Current Phone Number*" name="phone">
							    </div>
							    <div class="form-group">
							      <label for="password">New Password:</label>
							      <input type="password" class="form-control" id="password" placeholder="Change Password" name="password">
							    </div>
							    <div class="form-group">
							      <label for="confpass">Confirm Password:</label>
							      <input type="password" class="form-control" id="confpass" placeholder="Confirm Change Password" name="confpass">
							    </div>
							 	<br>
							    <button type="submit" class="btn btn-default">Save Changes</button>
							  </form>
