<!DOCTYPE HTML>

<html>
  <head>
    <title>Welcome to GT Event Finder! </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
  </head>
  <body class="no-sidebar">
    <div id="page-wrapper">

      <!-- Header -->
        <div id="header-wrapper">
          <div id="nav"></div>
        </div>

        <div class="wrapper">
          <div class="container" id="main">

            <!-- Content -->
              <article id="content">
                <header>
                  <div align= "center">
                    <h2>Account Settings</h2>
                  </div>
                </header>
              </article>

              <form>
                  <div class="form-group">
                    <label for="firstname">First Name:</label>
                    <input type="text" class="form-control" id="firstname" placeholder="*Current First Name Here*" name="firstname">
                  </div>
                  <div class="form-group">
                    <label for="lastname">Last Name:</label>
                    <input type="text" class="form-control" id="lastname" placeholder="*Current Last Name Here*" name="lastname">
                  </div>
                  <div class = "form-group">
                  <label for="email">Phone:</label>
                    <input type="email" class="form-control" id="email" placeholder="*Current Email*" name="email">
                  </div>
                  <div class = "form-group">
                  <label for="phone">Phone:</label>
                    <input type="text" class="form-control" id="phone" placeholder="*Current Phone Number*" name="phone">
                  </div>
                  <div class="form-group">
                    <label for="password">New Password:</label>
                    <input type="password" class="form-control" id="password" placeholder="Change Password" name="password">
                  </div>
                  <div class="form-group">
                    <label for="confpass">Confirm Password:</label>
                    <input type="password" class="form-control" id="confpass" placeholder="Confirm Change Password" name="confpass">
                  </div>
                 <br>
                </form>
                <button type="submit" class="btn btn-default">Save Changes</button>

              <!-- Scripts -->
                <script src="assets/js/jquery.min.js"></script>
                <script src="assets/js/jquery.dropotron.min.js"></script>
                <script src="assets/js/skel.min.js"></script>
                <script src="assets/js/util.js"></script>
                <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
                <script src="assets/js/main.js"></script>
                <script>
                  $('#nav').load('nav.html');
                  $.get("/currentUser", (response, status) => {
                    console.log(response);
                    if (response) {
                      console.log(response.email);
                      $('#user').html(response.email + '<a href="/logout"><img src="images/SignOut.jpg" alt="Sign Out" style="width:20px; height:20px; margin-right:5px;"></a>');
                      $("#user").attr("href", "/settings");
                    }
                  });
                </script>
            </body>
          </html>
