<html>
  <head>
    <title>
       Express authentication example
    </title>
  </head>
  <body>
    <h1> Sign-in to this Express authentication example</h1>
    <p> Use <i>user</i> for the username and <i>pass</i> for the password. </p>
    <form method='post'>
      <p>
        <label for='username'>Username</label>
        <input type='text' name='username'/>
      </p>
      <p>
        <label for='password'>Password</label>
        <input type='password' name='password'/>
      </p>
      <input type='submit' />
    </form>
  </body>
</html>
