<div id="header" class="container">

  <!-- Logo -->
    <h1 id="logo"><a href="/">GT Event Finder</a></h1>
  <!-- Navigation Bar -->
    <nav id="nav">
      <ul>
        <li>
          <a href="events">Events</a>
            <ul>
              <li><a href="events">Events Feed</a></li>
              <li><a href="#">Search Events</a></li>
              <li><a href="#">Map View</a></li>
              <li><a href="#">Calendar View</a></li>
              <li><a href="#">Event Reviews</a></li>
            </ul>
          </li>
        <li>
          <a href="orgs.html">Organizations</a>
          <ul>
            <li><a href="#">Search Organizations</a></li>
            <li><a href="#">Map View</a></li>
            <li><a href="#">Calendar View</a></li>
            <li><a href="#">Event Reviews</a></li>
          </ul>
        </li>
        <li class="break">
          <a href="help.html">Help</a>
          <ul>
            <li><a href="faq.html">FAQs</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="#">Feedback</a></li>
          </ul>
        </li>
        <li><a href="about.html">About Us</a></li>
        <!-- Profile and dropdown-->
        <li id="dropdown">
          <a id="user" href="/login">Sign in/Register</a>
        </li>
</div>
