<!DOCTYPE HTML>

<html>
  <head>
    <title>Welcome to GT Event Finder! </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
  </head>
  <body class="no-sidebar">
    <div id="page-wrapper">

      <!-- Header -->
        <div id="header-wrapper">
          <div id="nav"></div>
        </div>

      <!-- Main -->
        <div class="wrapper">
          <div class="container" id="main">

            <!-- Content -->
              <article id="content">
                <header>
                  <h2>Need to reset your password?</h2>

                </header>
                <p>Enter your email address in the field below and we'll send you a recovery email.</p>
              </article>

              <form id="forgot-form" role="form" autocomplete="off" class="form" method="post">
                <div class="form-group">
                  <div class="input-group">
                    <input id="email" name="email" placeholder="email address" class="form-control"  type="email">
                    </div>
                </div>
              </form>
              <br>
              <button id="btn">Reset Password</button>
          </div>
        </div>

    <!-- Scripts -->
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/jquery.dropotron.min.js"></script>
      <script src="assets/js/skel.min.js"></script>
      <script src="assets/js/util.js"></script>
      <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="assets/js/main.js"></script>
      <script>
        $('#nav').load('nav.html');
        $(document).ready(function(){
          $("#btn").click(function(){
            var email = $("#email").val();
            if(email=='') {
              alert("Please fill out the form");
            } else {
              $.post("/forgotpwd", {
                email: email
              }, (response, status) => {
                window.location.href = '/';
              });
            }
          });
        });
      </script>

  </body>
</html>
