<!DOCTYPE HTML>

<html>
  <head>
    <title>Welcome to GT Event Finder! </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
  </head>
  <body class="no-sidebar">
    <div id="page-wrapper">

      <!-- Header -->
        <div id="header-wrapper">
          <div id="nav"></div>
        </div>

      <!-- Main -->
        <div class="wrapper">
          <div class="container" id="main">

            <!-- Content -->


        <h2>New Account</h2>

        <form id="register-account" role="form" autocomplete="off" class="form" method="post">

            <div class="container"  id="main">
              <div class="form-group">
                <label><b>First Name</b></label>
                <input id="firstName" type="text" placeholder="Enter FirstName" class="form-control" name="firstName" required>

                <label><b>Last Name</b></label>
                <input id="lastName"type="text" placeholder="Enter LastName" class="form-control" name="lastName" required>


                <label><b>Email</b></label>
                <input id ="email" type="email" placeholder="email address" class="form-control" name="email" required>

                <label><b>Password</b></label>
                  <input id ="password" type="password" placeholder="Enter Password" class="form-control" name="psw" required>

                <label><b>Repeat Password</b></label>
                <input type="password" placeholder="Repeat Password" name="psw-repeat" class="form-control" required>

                <label><b>I am a...</b></label>
                <select id="usertype">
                  <option value="" disabled="disabled" selected="selected">Select one...</option>
                  <option value="Student">Student</option>
                  <option value="Organization Administrator">Organization Administrator</option>
                </select>
                <div id="organization" style="display: none">
                  <label><b>Organization</b></label>
                  <input id="org" type="text" placeholder="Organization" class="form-control" name="organization">
                </div>
              </div>
              <br>
              <button id="btn">Sign Up</button>
              <br>
              <a href="/login"> Already have an account? </a>
            </div>
        </form>
    </div>
    </div>
  </div>

    <!-- Scripts -->

      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/jquery.dropotron.min.js"></script>
      <script src="assets/js/skel.min.js"></script>
      <script src="assets/js/util.js"></script>
      <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="assets/js/main.js"></script>
      <script>
        $('#nav').load('nav.html');
        $('#usertype').on('change', function() {
          if ($(this).val() == 'Organization Administrator') {
            $("#organization").show();
          }
          else {
            $("#organization").hide();
          }
        }).trigger("change");
      </script>
  </body>
</html>
