<!DOCTYPE HTML>

<html>
  <head>
    <title>Welcome to GT Event Finder! </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
  </head>
  <body class="no-sidebar">
    <div id="page-wrapper">

      <!-- Header -->
        <div id="header-wrapper">
          <div id="nav"></div>
        </div>

        <div class="wrapper">
          <div style="width:60%; margin-top:-25px;" class="container" id="main">
            <!-- Content -->
          <article id="content">
            <header>
              <div>
                <h2>Log In</h2>
              </div>
            </header>
          </article>
          <form>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
            </div>
            <br>
          </form>
          <button style="margin-bottom:20px;" id="btn" class="btn btn-default">Submit</button>
          <br>
          <a href="/forgot"> Forgot Password? </a>
          <br>
          <a href="/register"> Need to sign up? </a>
        </div>
      </div>
    </div>
    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>
    <script>
      $('#nav').load('nav.html');
      $(document).ready(function(){
        $("#btn").click(function(){
          var email = $("#email").val();
          var password = $("#password").val();
          if(email === '' || password === '') {
            alert("Please fill out the form");
          } else {
            $.post("/loginUser", {
              email: email,
              password: password
            }, (response, status) => {
              console.log(status);
              if (status == 200) {
                window.location.href = '/events';
              } else {
                window.location.href = '/';
              }
            });
          }
        });
      });
    </script>
  </body>
</html>
